.chart-panel {
  position: relative;
  width: 100%;
  height: 100%;
  &:hover {
    .action-btn {
      display: block;
    }
  }
  .panel-content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .action-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #888888;
    cursor: pointer;
    display: none;
    z-index: 2;
    &.show {
      display: block;
    }
  }
  .chart-menu {
    position: absolute;
    right: 10px;
    top: 40px;
    width: 80px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    box-shadow:-2px 3px 4px -2px #e4e4e4;
    z-index: 2;
    .chart-menu-list {
      .chart-menu-item {
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        &:hover {
          color: #1890ff;
        }
      }
    }
  }
}