.report-content {
  flex: 1;
  .panel-item {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    &:hover {
      border: 1px solid #1890ff;
    }
    &.active {
      border: 1px solid #1890ff;
    }
  }
}