.report-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  .panel-item {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    &:hover {
      border: 1px solid #1890ff;
    }
    &.active {
      border: 1px solid #1890ff;
    }
  }
}