.report-component {
  height: 45px;
  background-color: #ffffff;
  box-shadow:-2px 4px 5px -3px #e7e7e7;
  display: flex;
  position: relative;
  z-index: 1;
  .component-list {
    height: 100%;
    display: flex;
    align-items: center;
    &.help {
      margin-right: 20px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 26px;
        border-right: 1px solid #c9c8c8;
        position: absolute;
        right: -10px;
        top: 10px;
      }
    }
    .component-item {
      padding: 0 10px;
      cursor: pointer;
      &:hover {
        .iconfont {
          color: #0673FC;
        }
      }
      .iconfont {
        font-size: 22px;
        // font-weight: bold;
        color: #555555;
      }
    }
  }
}