.data-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  .data-model {
    flex: 1;
    display: flex;
    flex-direction: column;
    .data-model-header {
      padding: 10px;
    }
    .data-model-body {
      flex: 1;
      position: relative;
      .dimension-field {
        position: absolute;
        top: 0;
        width: 100%;
        height: 50%;
        user-select: none;
        display: flex;
        flex-direction: column;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 8px;
          right: 8px;
          height: 0;
          border-top: 1px solid #e1e1e1;
        }
      }
      .measure-field {     
        position: absolute;
        top: 50%;
        width: 100%;
        height: 50%;
        user-select: none;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 8px;
          right: 8px;
          height: 0;
          border-top: 1px solid #e1e1e1;
        }
      }
      .field-item-wrap {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 4px;
        .field-item-content {
          margin-bottom: 2px;
        }
        .field-item {
          padding: 0 10px 0 10px;
          font-size: 12px;
          border: 1px solid #cfcfcf;
          background-color: #fdfdfd;
          cursor: pointer;
          color: #696969;
          display: flex;
          overflow: hidden;
          .iconfont {
            position: relative;
            top: 2px;
            color: #696969;
            line-height: 22px;
            font-size: 15px;
          }
          .field-title {
            flex: 1;
            line-height: 22px;
            margin-left: 6px;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .empty-data {
          text-align: center;
          color: #888888;
          font-size: 12px;
          margin-top: 40px;
        }
      }
      .field-group-title {
        line-height: 32px;
        height: 32px;
        padding: 0 10px;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        display: flex;
        .iconarrow-down, .iconarrow-right {
          font-size: 12px;
          margin-right: 4px;
        }
        .bar {
          position: absolute;
          left: 50%;
          top: 0;
          color: #aaa9a9;
          font-size: 13px;
          cursor: s-resize;
        }
      }
    }
  }
  .data-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    border-right: 1px solid #e1e1e1;
    .data-field {
      width: 100%;
      flex: 1;
      .data-field-item {
        padding: 6px 4px;
        font-size: 12px;
        color: #555555;
        .df-title {
          display: flex;
          justify-content: space-between;
          .df-categoary {
            line-height: 30px;
          }
          .df-addition {
            line-height: 30px;
          }
          .df-setting {
            display: inline-block;
            margin-right: 2px;
            .iconfont {
              font-size: 12px;
            }
          }
        }
        .df-fields {
          border: 1px dashed #e1e1e1;
          padding: 2px;
        }
        .df-field {
          line-height: 20px;
          border: 1px solid #cfcfcf;
          font-size: 12px;
          padding: 0 4px;
          margin-top: 3px;
          background-color: #f7f7f7;
          cursor: pointer;
          user-select: none;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
    .ant-btn {
      border-radius: 0;
      font-size: 12px;
    }
    .refresh-data {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      text-align: center;
    }
  }
}
