.report-layout {
  background-color: #eeeeee;
  .ant-layout-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e1e1e1;
  }
  .ant-layout-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
