.report-setting {
  height: 100%;
  display: flex;
  flex-direction: column;
  .report-setting-header {
    flex-basis: 45px;
    line-height: 45px;
    border-left: 1px solid #efefef;
    padding: 0 10px;
  }
  .report-setting-content {
    flex: 1;
    box-shadow: -4px 0px 5px -3px #e7e7e7;
  }
}